.play-jplayer {
  width: 50px;
  height: 50px;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M10 16.5v-9l6 4.5 M12 2 A10 10 0 0 0 2 12 a10 10 0 0 0 10 10 a10 10 0 0 0 10-10 A10 10 0 0 0 12 2"/></svg>') center / contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="white" d="M10 16.5v-9l6 4.5 M12 2 A10 10 0 0 0 2 12 a10 10 0 0 0 10 10 a10 10 0 0 0 10-10 A10 10 0 0 0 12 2"/></svg>') center / contain no-repeat;
}

.pause-jplayer {
  width: 50px;
  height: 50px;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M 15 16 h -2 V 8 h 2 m -4 8 H 9 V 8 h 2 m 1 -6 A 10 10 0 0 0 2 12 a 10 10 0 0 0 10 10 a 10 10 0 0 0 10 -10 A 10 10 0 0 0 12 2"/><svg>') center / contain no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M 15 16 h -2 V 8 h 2 m -4 8 H 9 V 8 h 2 m 1 -6 A 10 10 0 0 0 2 12 a 10 10 0 0 0 10 10 a 10 10 0 0 0 10 -10 A 10 10 0 0 0 12 2"/></svg>') center / contain no-repeat;
}


.next-jplayer {
  width: 50px;
  height: 50px;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13 6v12l8.5-6 M4 18l8.5-6L4 6Z"/></svg>') center / contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13 6v12l8.5-6 M4 18l8.5-6L4 6Z"/></svg>') center / contain no-repeat;
}

.prev-jplayer {
  width: 50px;
  height: 50px;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m 11.5 12 l 8.5 6 V 6 m -9 12 V 6 l -8.5 6 Z"/></svg>') center / contain no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="m 11.5 12 l 8.5 6 V 6 m -9 12 V 6 l -8.5 6 Z"/></svg>') center / contain no-repeat;
}